; Preview campaign queues
[1_Grupo 1]
strategy=ringall
timeout=25
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[2_Grupo 2]
strategy=ringall
timeout=25
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[3_Grupo 3]
strategy=ringall
timeout=25
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[4_Mixto]
strategy=ringall
timeout=25
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[5_V25]
strategy=ringall
timeout=25
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[6_Inbound]
strategy=ringall
timeout=30
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[7_Inbound G1]
strategy=ringall
timeout=30
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[8_Inbound G2]
strategy=ringall
timeout=30
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[9_Inbound G3]
strategy=ringall
timeout=30
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[10_Inbound G4]
strategy=ringall
timeout=30
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[11_Inbound G5]
strategy=ringall
timeout=30
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[12_Manual]
strategy=ringall
timeout=45
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[13_Inbound A2 agente_test]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[14_Inbound A13 agente1]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[15_Inbound A14 agente2]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[16_Inbound A15 agente3]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[17_Inbound A16 agente18]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[18_Inbound A17 agente4]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[19_Inbound A18 agente5]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[20_Inbound A19 agente6]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[21_Inbound A20 agente7]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[22_Inbound A21 agente8]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[23_Inbound A22 agente9]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[24_Inbound A23 agente10]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[25_Inbound A24 agente12]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[26_Inbound A25 agente13]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[27_Inbound A26 agente14]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[28_Inbound A27 agente15]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[29_Inbound A28 agente11]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[30_Inbound A29 agente16]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no

[31_Inbound A30 agente17]
strategy=ringall
timeout=20
retry=5
wrapuptime=0
maxlen=0
joinempty=yes
leavewhenempty=no
reportholdtime=no
ringinuse=no
